@mixin default_div {
    height: auto;
    display: block;
    overflow: hidden;
}

@mixin media_query($screen) {
    @media screen and (max-width: $screen){
        @content;
    }
}

@mixin placeholder-color($color) {
    &::-webkit-input-placeholder { /* WebKit browsers */
        color: $color;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: $color;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: $color;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: $color;
    }
}

.image {
    width: 100%;
    @include default_div;
}

.home_main {
    width: 100%;
    @include default_div;
    background-image: url('../static/home_image.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @include media_query(767px){
        background-size:cover;
        background-position:center;
    }

    .home_logo_main {
        @include default_div;
        width: 40%;
        margin: 0 auto;
        padding: 5% 0%;

        @include media_query(767px){
            width: 75%;
        }
    }
    
    .home_heading {
        @include default_div;
        width: 80%;
        margin: 0 auto;
        font-size: 3.5em;
        text-align: center;
        color: #fff;
        font-weight: bolder;

        @include media_query(991px){
            font-size: 2.5em;
        }

        @include media_query(767px){
            font-size: 1.5em;
        }
    }

    .home_content {
        @include default_div;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-size: 1.2em;
        color: #fff;

        padding: 2em 0%;
        
        @include media_query(767px){
            width: 90%;
            font-size: 0.9em;
            text-align: left;
        }
    }

    .home_search_main {
        width: 80%;
        @include default_div;
        background-color: #0db14b;
        border-radius: 8px;
        margin: 0 auto 6%;

        .current_location {
            display: none;
        }

        @include media_query(991px){
            border-radius: 0;
            margin: 0% 0 0%;
            width: 100%;

            .current_location {
                display: block;
                width: 100%;
                @include default_div;
                text-align: center;
                color: #fff;
                cursor: pointer;
                padding: 0% 0% 5%;
                font-size: 1.2em;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .row {
            margin: 0px 15px;
        }

        .col-lg-5.col-md-12 {
            text-align: center;
            color: #fff;
            font-size: 1.75em;
            padding: 3% 0%;
        }

        .col-lg-7.col-md-12 {
            padding: 3% 0%;

            @include media_query(767px){
                padding: 0% 0% 3%;
            }

            .home_input {
                width: 75%;
                float: left;
                background: transparent;
                height: 50px;
                border: 2px solid #fff;

                @include placeholder-color(#fff);
            }

            .home_btn {
                width: 22%;
                border: none;
                color: #0db14b;
                background-color: #fff;
                border-radius: 6px;
                height: 50px;
                font-size: 1.5em;
                float: right;

                &:hover {
                    background-color: #33b06c;
                    color: #fff;
                }

                @include media_query(575px){
                    .home_input {
                        width: 70%;
                    }
                    .home_btn {
                        width: 28%; 
                    }
                }
            }
        }
    }
}

.jumbotron_main {
    @include default_div;
    width: 100%;
    background-color: #f4f4f4;

    .container {
        padding: 4% 0% 3% 0%;
    }

    .jumbotron_heading {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        font-size: 2.25em;
        font-weight: 800; 
        padding: 0% 0% 2%;

        @include media_query(767px){
            font-size: 1.6em;
        }
    }

    .jumbotron_sub_heading {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        font-size: 1.5em;
        color: gray;

        @include media_query(767px){
            font-size: 1em;
        }
    }

    .jumbotron_block_main {
        width: 25%;
        @include default_div;
        float: left;
        padding: 5% 0% 12%;
        position: relative;
        z-index: 0;

        span {
            display: block;
            overflow: hidden;
            height: 6em;
            width: 6em;
            border-radius: 50%;
            background-color: #0db14b;
            margin: 0 auto -3.2em;
            z-index: 1;
            position: relative;
            padding-bottom: 2%;
        }

        @include media_query(991px){
            width: 50%;
            padding: 2% 0% 6%;
        }

        @include media_query(767px){
            width: 100%;
        }

        .jumbotron_block {
            width: 90%;
            @include default_div;
            margin: 0 auto;
            background-color: #fff;
            min-height: 360px;
    
            .heading {
                width: 80%;
                @include default_div;
                text-align: center;
                font-size: 1.75em;
                padding: 25% 0% 4%;
                margin: 0 auto;
            }
    
            .content {
                width: 80%;
                @include default_div;
                text-align: center;
                font-size: 1.75em;
                padding: 2% 0%;
                font-size: 1em;
                margin: 0 auto;
                color: #414141;
            }
        }
    }

}

.footer_main {
    box-sizing: border-box;
    font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
    width: 100%;
    @include default_div;
    color: #fff;

    .footer_search_main {
        background-color: #0db14b;
        width: 100%;
        @include default_div;
        padding: 2% 0%;
        
        .footer_search_text {
            padding: 3% 0% 2%;
            text-align: center;
            font-size: 1.75em;

            @include media_query(767px){
                font-size: 1.5em;
                
                span{
                    display: block;
                }
            }
        }

        .footer_search_form {
            width: 80%;
            @include default_div;
            margin: 0 auto;
            text-align: center;


            .footer_input {
                width: 75%;
                float: left;
                height: 58px;
                background-color: transparent;
                border: 2px solid #fff;
                border-radius: 6px;
                font-size: 1.5 em;
                color: #fff;

                @include placeholder-color(#fff);

                @include media_query(575px){
                    width: 70%;
                }
            }

            .footer_btn {
                width: 22%;
                border: none;
                color: #0db14b;
                background-color: #fff;
                border-radius: 6px;
                height: 58px;
                font-size: 1.5em;
                float: right;

                &:hover {
                    background-color: #33b06c;
                    color: #fff;
                }

                @include media_query(575px){
                    width: 28%; 
                }
            }
        }

        .current_location {
            display: none;
        }

        @include media_query(991px){

            .current_location {
                display: block;
                width: 100%;
                @include default_div;
                text-align: center;
                color: #fff;
                cursor: pointer;
                padding: 0% 0% 5%;
                font-size: 1.2em;
    
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .footer_sponser_main {
        padding: 3% 0;
        background-color: #7F7F7F;
        width: 100%;
        @include default_div;
    
        .footer_sponser_heading {
            width: 100%;
            @include default_div;
            text-align: center;
            font-size: 2.25em;

            @include media_query(767px){
                font-size: 2em;
            }

            @include media_query(575px){
                padding: 0 2%;
            }
        }

        .footer_sponser_content {
            width: 50%;
            @include default_div;
            float: left;
            text-align: center;
            padding: 2% 0%;
            font-size: 2em;

            @include media_query(575px){
                font-size: 1.2em;
            }

        }
    }

    .footer_contact_main {
        display: flex;

        @include media_query(991px){
            flex-direction: column;
        }

        .footer_contact_connect {
            flex: 2;
            display: flex;     
            background-color: #434343;
            padding: 4% 2%;

            .footer_ul {

                h4 {
                    font-size: 1.25em;
                }
                list-style: none;
                font-size: 1em;
            }

            @include media_query(991px){
                flex-direction: column;
            }

            .row {
                .col-md-12.col-lg-6 {
                    padding: 2% 0%;
                }

                .col-lg-3.col-md-6.col-6 {
                    padding: 2% 2%;
                }
            }

            .footer_sw_image {
                @include default_div;
                width: 80%;
                margin: 0 auto;

                @include media_query(991px){
                    width: 40%;
                }
            }
        }

        .footer_contact_program {
            flex: 1;
            background-color: #262626;
            padding: 4% 2%;
            font-size: 1em;

            .row {
                margin: 0px 0px 0px 0px;
            }

            h4 {
                font-size: 1.25em;
                color: #0db14b;
            }

            .footer_ul {
                list-style: none;
                font-size: 1em;
                padding: 5px 0;

                li {
                    cursor: pointer;
                    &:hover {
                        color: #434343;
                    }
                }

                @include media_query(991px){
                    li {
                        display: inline-block;
                        font-size: .875em;
                        padding: 0 6px;
                    }
                }
                @include media_query(768px){
                    display: none;
                }
            }

            .col-lg-9.col-md-12 {
                padding: 3% 0%;

                p {
                    font-size: .75em;

                    a {
                        text-decoration: none;
                        color: #0db14b;
                        cursor: pointer;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .col-md-12 {
                @include media_query(991px){
                    text-align: center;
                }
            }
        }
    }
}